/* You can add global styles to this file, and also import other style files */
body {
  font-size: 1em;
}
.fastnews-main {
  max-width: 1000px;
  margin: auto;
  padding: 0 5px;
}
.tinnhanh_title {
  font-family: Verdana;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #cc0001;
}
.tinnhanh_title span {
  font-size: 1.1em;
}
.nviewer {
  clear: both;
  margin-bottom: 15px;
  position: relative;
}
.item {
  border-top: solid 1px #d4e0e0;
  padding: 7px 0 10px;
}
.list-fast-news {
  padding-left: 40px;
  padding-bottom: 30px;
}
.nviewer .timeTitle {
  color: #666;
  line-height: 22px;
}
.nviewer .title-wrap {
  position: relative;
}
.time,
.doctoanbo {
  display: none;
}
.nviewer .news-title {
  font-weight: 600;
  color: #111;
  text-decoration: none;
  text-align: left;
  display: block;
  font-size: 1.15em;
}
.nviewer .news-title:visited {
  color: #999;
}
.nv-details {
  padding: 5px 0 0;
}
.text-right {
  text-align: right;
}
.buttons {
  text-align: center;
  margin-bottom: 30px;
}
.buttons {
  font-size: 1.5em;
}
button {
  border-radius: 6px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  font-size: 1.1em;
  line-height: 27px;
  margin: 0;
  text-align: center;
  padding: 10px 30px;
}
