<div class="nviewer" id="fastnews-main-contents">
</div>
<div class="loadingio-spinner-spinner-l1xppaoi24" [hidden]="!isLoading">
    <div class="ldio-jkw3q3bi0aa">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="buttons"><button class="card card-small" (click)="getUpdates()">Đọc thêm</button>
</div>